/* Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* Galmuri */
@import url("https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

* {
  font-family: "Pretendard", sans-serif;
}

/* rem 설정 */
/* 1. 데스크탑 */
html {
  font-size: 16px;
}

@media screen and (max-width: 1023px) {
  /* 2. 타블렛 */
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  /* 3. 모바일 */
  html {
    font-size: 8px;
  }
}

h1 {
  font-size: 3rem;
  word-break: keep-all;
}
