article .post-content {
  h2 {
    @media screen and (max-width: $on-half) {
      font-size: 2rem;
    }
    @media screen and (max-width: $on-palm) {
    }

    font-size: 2.4rem;
    word-break: keep-all;
  }
}
