body {
  margin: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inehrit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

/**
 * Remove Scrollbars
 */

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.blog-main-container {
  display: flex;
}
